@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --darkBlue: hsl(218, 44%, 22%);
    --bodybackground: hsl(0, 0%, 100%);
    --grayishBlue: hsl(220, 15%, 55%);
    --lightGray: hsl(212, 45%, 89%);
}

body{
    width: 100vw;
    height: 100vh;
    background-color: var(--lightGray);
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-component{
    display: flex;
    max-width: 330px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bodybackground);
    border-radius: 10px;
    text-align: center;
}

.qr-code{
    width: 100%;
    padding: 15px;
}

.qr-code > img{
    width: 100%;
    border-radius: 10px;
}

.desc{
    padding: 35px;
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 15px;
}

.title{
    font-weight: 700;
    font-size: 1.35rem;
    color: var(--darkBlue);
}

.process{
    color: var(--grayishBlue);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    padding-top: 2rem;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}